.start-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  padding: 40px 20px;
  box-sizing: border-box;
  gap: 80px;
  user-select: none; 

  background-image: url("../assets/img/start-bg-mobile.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 768px) {
  .start-container {
    background-image: url("../assets/img/start-bg-pc.png");
  }
}

.start-title-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-top: 90px;
}
.start-title {
  width: 56%; 
  max-width: 400px; 
  height: auto;
}
.start-sub-title {
  width: 22%; 
  max-width: 158px; 
  height: auto;
}

.start-choice-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  width: 100%;
}

.drag-start {
  cursor: grab;
  touch-action: none;
  width: 10%;
  min-width: 40px; 
  max-width: 60px; 
  height: auto;
}

.drag-following {
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 1000;
  cursor: grabbing;
}

.dropzone {
  font-size: 40px;
  transition: transform 0.15s ease;
  display: inline-block;
}

/* hover는 pc용으로 유지 */
.dropzone:hover,
.dropzone.hover {
  transform: scale(1.2);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}